<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=<%= quoteFont.replace(
      / /g,
      '+',
    ) %>:400,b,i,bi|<%= authorFont.replace(/ /g, '+') %>:400,b,i,bi|<%= emphasizedFont.replace(
      / /g,
      '+',
    ) %>:400,b,i,bi">
    <style>
      * { box-sizing: border-box; }
      html, body { width: 100%; height: 100%; margin: 0; padding: 0; }
      body {
        background:
          linear-gradient(<%= gradientAngle %>deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.9) 100%),
          url('<%= imageUrl %>');
        display: flex;
        align-items: center;
        justify-content: center;
      }
      #container {
        margin: 0;
        padding: 0;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 96px;
        gap: <%= imageWidth / 40 %>px;
        padding: <%= imageWidth / 20 %>px;
      }
      p {
        margin: 0;
        color: #fff;
        text-align: center;
      }
      #quote {
        font-family: '<%= quoteFont %>';
        font-size: 1em;
        font-variant: <%= quoteVariant %>;
        white-space: pre-wrap;
      }
      strong {
        font-style: <%= emphasizedStyle %>;
        font-weight: <%= emphasizedWeight %>;
        font-size: <%= emphasizedSize.toFixed(2) %>em;
        font-family: '<%= emphasizedFont %>';
      }
      #author {
        font-family: '<%= authorFont %>';
        font-size: 0.9375em;
      }
      strong, #author {
        color: <%= themeColor %>;
      }
      img {
        height: 1em;
        margin-bottom: .25em;
        vertical-align: middle;
      }
    </style>
  </head>
  <body>
    <div id="container">
      <p id="quote"><%- replaceEmojis(highlight(sanitize(query))) %></p>
      <p id="author">
        — <%= author %>
      </p>
    </div>
    <script>
      const container = document.querySelector('#container');
      const maxFontSize = 96;
      const minFontSize = 1;
      let currentFontSize = maxFontSize;

      do {
        container.style.fontSize = `${currentFontSize}px`;
        currentFontSize--;
      } while(
        window.innerWidth < container.scrollWidth ||
        window.innerHeight < container.scrollHeight ||
        currentFontSize <= minFontSize
      )
    </script>
  </body>
</html>
